html, body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    color: #ff7904;
    border-bottom: 2px solid rgba(0, 0, 0, 0.055);
}

.navbar-item{
    border-bottom: 2px solid black;
}


.navbar-brand{
    color: #e0822fd4;
    font-weight: bold;
}

.section-1{
    background-image: url('pngegg.webp');
    background-size: cover;
    background-position: center;
    background-size: repeat; background-color: #efe2bf;
}

.section-2{
    background-image: url('patas-diag.webp');
    background-size: cover;
    background-position: top;
    background-color: #f6b19a;
}

.t-filhotes{
    text-shadow: 2px 3px salmon;
}

.section-3{
    background-image: url('fundo-f.webp');
    background-position: center;
    background-size: cover;
    background-color: #f49d9f;
}

.section-4{
    background-image: url('patas-coracao.webp');
    background-size: repeat;
    background-position: center;
    background-color: #efe2bf;
    
}

.section-6{
    background-color: #f6b19a;
    background-image: url('4patas-ico.webp');
    background-position: top;
    background-repeat: repeat;
}

.h1-t{
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-shadow: #000 1px 2px 2px;
}

.p-t{
    color: rgb(0, 0, 0);
}

.btn-1{ 
 color: #ff7904;
 font-weight: 500;
}

.list-group-item{
    background-color: #ffffff00;
    border-color: #00000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.076);
    margin-left: 30px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
  }

.filhote-t{
    color: white;
    text-shadow: 1px 1px black;
}
.cliente{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.494);
}

.carousel-control-prev-icon{
    background-color: #c14004;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.carousel-control-next-icon{
    background-color: #c14004;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}


@media (min-width: 1100px){ /* Para PC */

    .section-1{
        padding-left: 30px;
        padding-bottom: 50px;
       } 

    .navbar-brand{
        margin-left: 40px;
        margin-right: 100px;
    }

    .nav-item{
        padding-left: 20px;
        font-size: 18px;
    }

    .p-menu{
       color: #ff7904;
       padding-left: 210px;
       padding-right: 100px;
    }

    .btn-menu{
        color: #0F57FB;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }


    .p-t{
        font-size: 18px;
        padding-right: 0px;
        word-spacing: 5px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .esquerdo{
    margin-top: 170px;
    padding-left: 120px;
    }

    .h1-t{
    font-size: 54px;
    }
    
    .h1-2{
    color: white;
    text-shadow: #000 2px 2px 2px;
    }
    
    .btn-1{ 
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
       }
       

    .filhote-meio{
        border-left: 1px solid rgba(0, 0, 0, 0.149);
        border-right: 1px solid rgba(0, 0, 0, 0.149);
    }
}

@media (max-width: 889px){ /* Para CELULAR */

   .section-1{
    padding-left: 30px;
    padding-bottom: 30px;
   } 

   .section-1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-image: url('pngegg.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir todo o elemento */
    background-position: right; /* Centralizar a imagem */
    opacity: 0.1; /* Ajuste a opacidade conforme necessário */
  }

  .section-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('patas-diag.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir todo o elemento */
    background-position: center; /* Centralizar a imagem */
    opacity: 0.06; /* Ajuste a opacidade conforme necessário */
    z-index: -1;
  }

   .h1-t{
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 20px;
    }
    .p-t{
        font-size: 16px;
        margin-bottom: 30px;
        padding-right: 20px;
        font-weight: 400;
        text-align: justify;
        word-spacing: 5px;
    }

    .img-1{
        margin-top: 20px;
        padding-right: 10px;
        object-fit: cover;
    }
    
    .btn-1{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .navbar-toggler{
        background-color: rgba(152, 107, 49, 0.807);
        color: #0F57FB;
    }

    .navbar-toggler:focus {
        outline: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow:  1px 1px 3px black; 
      }
    
    .navbar-toggler-icon{
        color: #0F57FB;
    }

    .show{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: -30px;
    }

    .nav-link{
        color: #9f4b01;
        background-color: rgba(255, 123, 0, 0.527);
        padding: 20px;
        font-size: 16px;
    }

    .img-2{
        padding-top: 50px;
    }

    h5{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .h1-2{
        padding-bottom: 20px;
        color: white;
        text-shadow: #000 2px 2px 2px;
    }

    .p-2{
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .btn-2{
        margin-bottom: 30px;
    }

    .map-1{
        width:20px;
        height:300px;
    }
}
.btn-3{
    background-color: white;
    font-size: 16px;
    color: #0F57FB;
    font-weight: bold;
}
.t-curiosidades{
    text-shadow: 1px 2px 2px salmon;
}
.teste2{
    width: auto;
    height: 250px;
    background-image: url('pexels-kateryna-babaieva-5465338\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin-bottom: 30px;
}

.credits{
    color: rgb(123, 123, 123);
}
